name: Mirror to Gitea

on:
  push:
    branches: 
      - main
      - master
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Gitea
        run: |
          # Configura o remote do Gitea
          git remote add gitea "https://${{ secrets.GITEA_USERNAME }}:${{ secrets.GITEA_TOKEN }}@gitea.bruno-moises.site/BrunoMoises/price-analyzer.git"
          
          # Configurações globais para evitar erros de permissão em CI
          git config --global --add safe.directory /github/workspace
          git config --global http.sslVerify false
          
          # O PULO DO GATO: Empurra o HEAD (onde estamos) para a branch main do Gitea
          git push gitea HEAD:main --force
          git push gitea --tags --force