name: Mirror to Gitea

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Gitea
        run: |
          # 1. Garante que estamos na branch main localmente
          git checkout main
          
          # 2. Configura o remote do Gitea
          git remote add gitea "https://${{ secrets.GITEA_USERNAME }}:${{ secrets.GITEA_TOKEN }}@gitea.bruno-moises.site/BrunoMoises/price-analyzer.git"
          
          # 3. Configuração de segurança SSL (opcional, mas bom para certificados LetsEncrypt)
          git config --global http.sslVerify false
          
          # 4. Push explícito da branch main local para a main remota
          git push gitea main:main --force
          git push gitea --tags --force